*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  --primary-color: #8fc1df;
  --second-color: #b9c6da;
  --third-color: #a9bbd3;
  --fourth-color: #96a1b0;
  --fifth-color: 	#657a89;
}
